[kitchen]
device_mac = 
topic = sensors/kitchen
availability_topic = sensors/bedroom/availability
average = 3
timeout = 5

# [otherroom]
# device_mac =
# topic = sensors/room
# availability_topic = sensors/kidsroom/availability
# average = 5
# timeout = 5
